.resource-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__blog1{
        width: 350px;
        border-radius: 30px;

    }
}


  a {
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      color: black;
      font-weight: 700;
      font-size: 25px;
  }

  .link{
    display:flex;
    margin-left: 1000px;
    padding: 20px;

  }

  .div-container{
      display:flex;
      flex-direction: column;
      align-items: flex-start;

    

  }
  .blog-container{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -770px;
    padding: 15px;

  }
