.lg-font{
    font-size: 100px;
    font-family: 'Righteous', cursive;
    text-shadow: 3px 3px white;
}
#text{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    text-indent: 50px;
    
}