.container-header{
    background-color: lightgray;
    border: 3px solid white;
    border-radius: 20px;
&__header{
    background-color: #FFDFD6;
    color: white;
    width: auto;
    height: 170px;
    font-size: 150px;
}
}