.container{
    display: inline-block;
    border: 3px solid gray;
    background-color:#FFDFD6;
    padding: 10px;
    border-radius: 50px;
    // max-width: 350px;
    &__header{
        display: flex;
        justify-content: space-evenly;
    }
&__image{
    width: 300px;
    height: 300px;
    border-radius:150px;
   
}
}