.footer{
    background-color:#caae58;;
    width: auto;
    height: 150px;
    font-family: 'Montserrat', sans-serif;
    font-family: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &__about, &__contact, &__resources{
        text-decoration: none;
        color: white;
        
    }
}
.link{
    color: white;
}